.container-dashboard {
  display: flex;
  width: 100hw;
  height: auto;
}


.dashboard-content {
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: space-between;
  min-height: 100vh;
  background-color: #E4E9F7;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;

}


.dash-top {
  display: flex;
  gap: 1rem;
  height:30%;
  align-items: space-between;
  flex-direction: row;
}

.dash-bottom {

  display: flex;
  gap: 1rem;
  height: 60%;
  align-items: space-between;
  flex-direction: row;
}

// top
.dash-top-middle{
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dash-top-left {
  width: 6%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dash-top-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .dash-clock {
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: large;
    text-align: center;
  }

  .dash-next-shift {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.card-dash {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card-dash:hover {
    transform: translateY(-5px);
  }

// bottom
.dash-bottom-left {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dash-bottom-right {
  flex-grow: 1;
  width: 63%;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


// Map
.map {
  width: 100%;

  justify-content: center;
  border-radius: 5px;
  margin: auto;
}
