/* app/assets/stylesheets/sites.css */
body {
  color:rgba(0,0,0,0.65);
  background-color: white;
}


.menu-bar {
  width:25%;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0;

}

.menu-bar-title {
  color: rgba(0,0,0,0.65);
  text-align: center;
}

.container-dashboard {
  display:flex;
  justify-content: space-between;
  padding: 8px;
  margin: 0;
  background-color: #bdc2e8;
  width: 100hw;
}

.map {
  justify-content: end;
  border-radius: 5px;
  margin-top: 70px;
}

.list-group-item {
  padding: 10px;
  font-size: 16px;
}

.list-group-item a {
  text-decoration: none;
  color: #000;
}

.list-group-item a:hover {
  background-color: #7128d8;
}
