<h1>Your Request Has Been Approved</h1>
<p>Dear <%= @request.user.name %>,</p>
<p>Your request for <strong><%= @request.request_type.capitalize %></strong> has been approved.</p>
<p>Comment from Manager:</p>
<p><%= @request.comment %></p>
<p>Thank you,<br>Time Guard Team</p>
