
<div class="body-landing">
<div class="container-landing">
  <div class="content-landing">
    <h1>Effortlessly Schedule Your Team and Track Their Locations in Real-Time</h1>
    <p>With easy scheduling features, you can effortlessly manage shifts and assignments.
      With real-time tracking, you can easily ensure that your team is always in the right place at the right time.</p>

    <div class="btns-landing">
    <% if user_signed_in? %>
      <%= link_to "View Dashboard", dashboard_path, class: "purple-button"  %>
    <% else %>
      <%= button_to "Sign up", new_user_registration_path, class: "purple-button"  %>
      <%= button_to "Sign In", new_user_session_path, class:"purple-border-button" %>
    <% end %>
    </div>
  </div>
  <div class="img-landing">
    <%= image_tag "landing_page.jpg"%>
  </div>
</div>
</div>
