.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

  .btn-primary {
    background-color: #7128D8;
    border-color: #7128d8;
    color: #fff;

    &:hover {
      background-color: #7c43ab;
      border-color: #8928d8;
      color: #fff;
    }
  }

  .btn-clockin {
    background-color: #1EDD88;
    border-color: #1EDD88;
    color: white;

    &:hover {
      background-color: #2bb94e;
      border-color: #50ba6b;
      color: #fff;
    }
  }

  .btn-secondary {
    background-color: #034fa0c0;
    border-color: #0056b3;
    color: #fff;

    &:hover {
      background-color: #0056b3;
      border-color: #007bff;
    }
  }

  .btn-danger {
    background-color: #e65563;
    border-color: #dc3545;
    color: #fff;
    width: 105.64px;
    &:hover {
      background-color: #c82333;
      border-color: #c82333;

    }
  }

  .btn-success {
    color: white;
  }

  .btn:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
  }



.purple-border-button {
  background-color: white;
  color: #7128D8;
  border: 1px solid #7128D8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.purple-border-button:hover {
  background-color: rgb(216, 213, 213);
}



.purple-button {
  background-color: #7128D8;
  color: white;
  border: 1px solid #7128D8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.purple-button:hover {
  background-color: #3700B3;
}
