.simple-calendar {
  table {
    height: 100%;
    width: 100%;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.shift {
  color: white;
  border-radius: 4px;
  padding-left: 2px;
  margin-bottom: 4px;
  transition: background 0.3s ease;
  background: #1EDD88;

  .shift-site-name {
    padding-bottom: 0;
  }
}

.shift:hover {
  background: #1BCB7F;
  color: white;
}
