.simple-calendar {
  table {
    height: 100%;
    width: 100%;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.shift {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.shift:hover {
  background: #1BCB7F;
  color: white;
}
