/* app/assets/stylesheets/sites.css */
body {
  color:rgba(0,0,0,0.65);
  background-color: white;

}


.menu-bar {
  width:25%;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  border-radius: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin:8px;
}

.menu-bar-title {
  color: rgba(0,0,0,0.65);


}

.container {
  display:flex;
  justify-content: space-between;
  padding: 8px;
}

.mapboxgl-canvas {
  margin-top: 8px;

}
